<div class="user-menu" style="margin-bottom: 20px">
    <div class="">
        <img src="/img/user-photo/{{user.img}}" width="100px" alt="">
    </div>
    <div class="">
        <span>Имя: <b>{{user.name.firstName}}</b></span>
    </div>
    <div class="">
        <span>Фамилия: <b>{{user.name.secondName}}</b></span>
    </div>
    <div class="">
        <span>E-mail: <b>{{user.email}}</b></span>
    </div>
    <div class="">
        <a href="/">На главную</a>
    </div>
    <div class="">
        <a href="/settings/edit-user">Изменить данные</a>
    </div>
    <div class="">
        <a href="/auth/logout">Выход</a>
    </div>
</div>
