<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Заголовок</title>
        <link rel="stylesheet" href="/css/menu/menu.css">
        <link rel="stylesheet" href="/css/menu/burger.css">
        <link rel="stylesheet" href="/css/config.css">
        <script src="/js/jquery.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="settings-background">

        </div>
        <a class="menu-bth" href="#"><span></span></a>
        {{>menu}}
        {{{body}}}
        <script src="/js/menu/menu.js" charset="utf-8"></script>
    </body>
</html>
